<p>
	<%= form.text_field :name %>	<%= form.label :name, "Complete Name" %>	
</p>
<p>
	<%= form.text_field :email %>	<%= form.label :email, "Email" %><br />	
</p>
<p>
	<%= form.password_field :password %>	<%= form.label :password, form.object.new_record? ? "Password" : "Change password" %><br />
</p>
<p>
	<%= form.password_field :password_confirmation %>	<%= form.label :password_confirmation, "Confirm Password" %><br />	
</p>


