<h1>Pedido</h1>
<%= btm %> | <%= link_to "Regresar a mis pedidos", purchases_path %>
<hr />
<table>
	<tr>
		<th>Fecha</th><th>Proveedor</th><th>Producto</th><th>Cantidad</th>		
	</tr>
	<tr class="first">
		<td id="date"><%= @purchase.created_at.to_date.to_s(:short) %></td>
		<td><%= @purchase.supplier.name %></td>
		<td></td><td></td>
	</tr>
	<% for pp in @purchase.purchase_products -%>
		<tr>
			<td></td><td></td>
			<td><%= pp.product.product_name %></td>						
			<td><%= pp.qty %></td>
		</tr>
	<% end -%>
</table>
