<% div_for customer do  %>
	<h2><%= link_to customer.name, customer %></h2>
	<p>
		<%= mail_to(customer.email) %>
	</p>
	<p>
		Phone:
		<%= customer.phone %>
	</p>
	<p>
		Address:
		<%= customer.address %>
	</p>	
	<p>
		Address References:
		<%= customer.references %>
	</p>
<% end -%>
