	<p>
		<%= f.text_field :name  %>
		<%= f.label :name, "Nombre (obligatorio)" %>
	</p>			
	<p>
		<%= f.text_field :email %>
		<%= f.label :email, "Correo" %>
	</p>
	<p>
		<%= f.text_field :phone %>
		<%= f.label :phone, "Telefono" %>
	</p>	
	<p>
		<%= f.text_field :address %>
		<%= f.label :address, "Direccion" %>
	</p>
	<p>
		<%= f.label :references, 'Referencias a la direccion' %><br />
		<%= f.text_area :references, :cols=>40, :rows=>4 %>
	</p>
