<h1><%= @customer.store.store_name %>	Edit Customer Info</h1>
<%= btm %> | <%= link_to "Back To Customers", customers_path %>
<hr />
<% form_for @customer do |f| -%>
	<%= render :partial => 'form', :locals=>{:f=>f} %>
	<%= f.submit 'Update Info' %>
<% end -%>
