<% div_for product do %>
<h2><%= link_to product.name, product_path(product)%></h2>

<p>Price: <%= product.price %></p>
<p>Qty: <%= product.qty %></p>
<p>Description: <%= truncate product.description, :length=>25 %></p>
<div id="product-actions">
	<%= link_to 'edit', edit_product_path(product) %> | <%= link_to_remote 'delete', :url=>product_path(product), :method=>'delete', :confirm=>'This action will delete the product permanently. Are you sure you want to delete this product?' %>			
</div>		
<% end %> 
