<p>
		<%= t.text_field :name %>		
		<%= t.label :name, 'Nombre' %>
	</p>
	<p>
		<%= t.text_field :phone %>
		<%= t.label :phone, 'Telefono' %>
	</p>
	<p>
		<%= t.text_field :address %>
		<%= t.label :address, "Direccion" %>
	</p>
