<h1>Inicio de sesion</h1>
<% form_for @user_session, :url=>user_session_path do |t| %>
	<%= t.error_messages %>
	<p>
		<%= t.text_field :email %>
		<%= t.label :email, 'Correo' %>
	</p>
	<p>
		<%= t.password_field :password %>
		<%= t.label :password, 'Password' %>
	</p>
	<p>
		<%= t.check_box :remember_me %> <%= t.label :remember_me, "Mantener mi sesion abierta" %>
	</p>
	<%= t.submit "Entrar" %>
<% end %> 
