<h1><%= @store.store_name %>: New Sale</h1>
<%= btm %>
<hr />
<% form_for @sale do |t| %>
	<h2>1.</h2>
	<% field_set_tag 'Customer Information' do %>
		<center>
		<%= link_to_function 'New Customer', do |page|
				page.replace_html "customer-info", :partial=>'new_customer_fields', :locals=>{:t => t}
			end %> ||
		<%= link_to_function 'Existent Customer', do |page|
				page.replace_html 'customer-info', :partial=>'old_customer_fields' 
			end %>
		</center>
		<hr />
			
		<div id="customer-info">			
		</div>
	<% end -%>				
	<br />
	<h2>2.</h2>
	<h2>Products</h2>
	
	<%= link_to_function image_tag("/images/icons/plus-icon.png") + "Add", do |page|
		page.insert_html 'bottom', 'new-sale-products', :partial=>"sale_products_form"	
		page.call('checkAllQtyValidated')
	end %> 
	<%= image_tag 'ajax-loader.gif', :id => "loading", :style=>"display:none" %>

	<div id="new-sale-products">
		<%= render :partial=>"sale_products_form" -%>
	</div>
	<br />
	<%= t.submit "Make Sale!", :disabled=>true  %>
<% end %> 

