<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<%= stylesheet_link_tag 'application' %>	
		<%= javascript_include_tag :defaults %>	
		<%= yield :script %> 
		<title><%= @page_title || "Stock Manager" %></title>
	</head>
	<body>					
	<% flash.each_pair do |key, msg| %>
				<% content_tag :div, :class=>'flash-message', :id=>key.to_s do %>
					<%= hide_flash_js(key) %>
					<% content_tag :p do %>
						<%= case key.to_s					
							 when 'notice' 	then image_tag('icons/tick-icon.png')
							 when	'error'		then image_tag('icons/stop-icon.png')
						end %> 
						<%= msg %>
					<% end %> 
				<% end %> 
			<% end %>
		<div class="header">
			<div id="session-bar">
				<% if current_user %>
					<%= image_tag('icons/home-icon.png') %><%= link_to current_user.name || current_user.email, account_path %>					|
					<%= link_to "Cerrar Sesion", logout_path %><%= image_tag('icons/user-icon.png') %>
				<% else %>
					<%= image_tag('icons/home-icon.png') %><%= link_to "Iniciar sesion", new_user_session_path %> |
					<%= link_to "Registarme!", new_user_path %><%= image_tag('icons/user-icon.png') %>
				<% end %> 
			</div>	
			<%= link_to image_tag('icons/us.ico'), "#{APP_CONFIG[:english]}" %> |
			<%= link_to image_tag('icons/mexico.ico'), "#{APP_CONFIG[:spanish]}"  %>
		</div>
		
		<div class="wrapper">			
		
			<div class="navbar">
					<%= link_to "Acerca de", about_path %>
					<%= link_to "Preguntas Frequentes", faq_path %>
					<%= link_to "Contacto", contact_path %>
					<%= link_to "Costos", pricing_path %>
			</div>
			
			<div class="container">				
				<%= yield %>			
			</div>
			<div class="tools">
				<% if current_user %>
					<h1>Herramientas</h1>
					<h2><%= image_tag 'icons/retail-shop-icon.png' %> Mis Tiendas</h2>
					<div id="stores-menu">
							<%= render :partial => 'stores/stores_menu' %>						
					</div>
				<% else %>
					<h1><%= link_to "Registrate AHORA", new_user_path %></h1>
					<p>Con Stock Manager puedes gestionar el inventario de varias tiendas al mismo tiempo.</p>
					<p>
					  No vuelvas a decirle a tu cliente que no tienes el producto, StockManager te avisara con anticipacion que producto debes adquirir.
					</p>
				<% end %>
			</div>
			<div class="ads">
				<%= link_to image_tag('youradhere.gif'), root_path -%> 
				
				<%= image_tag 'youradhere.gif' -%> 
				
				<%= image_tag 'youradhere.gif' -%> 
			</div>
							
			<div id="cleaner"></div>				
		</div>
		
			<div class="footer">
				<div class="footer" id="square">
					<h2>Siguenos en twitter</h2>									 
					<%= link_to (image_tag 'twitter.jpg', :style=>"width:45px;height:45px;float:left;"), "http://www.twitter.com/stock_manager" %>
					<p>
					  @stock_manager
					</p>
				</div>
				<div class="footer" id="square">
					<h2>Facebook</h2>					
					 <%= image_tag 'facebook.jpg', :style=>"width:45px;height:45px" %>
				</div>
				<div id="cleaner"></div>
				Todos los derechos reservados a RoOzTer Co. 
			</div>
	</body>
</html>
